<body class="body-padding">
  <mat-card class="card ps-2 pe-2">
    <mat-card appearance="outlined" class="ms-2 me-2">
      <div class="mb-3 mt-2 ms-4 me-4">
        <label>face</label>
        <label class="fw-bold text-muted mb-2">Text</label>
        <div class="border rounded p-3 bg-light">
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>SHALOM</p>
              <p>something here</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="d-flex flex-row mt-2 ms-2">
      <button class="btn btn-secondary" style="height: 40px; margin-top: 8px;"><i class="fa fa-plus"></i></button>
      <mat-form-field appearance="outline" class="w-100 mt-2 ms-2 small-field">
        <input matInput type="text">
      </mat-form-field>
      <button class="btn btn-primary ms-2 me-2" style="height: 40px; margin-top: 8px;"><i class="fa fa-paper-plane"></i></button>
    </div>
  </mat-card>
</body>
