<body class="body-padding">
  <mat-card class="card ps-2 pe-2">
    <mat-card appearance="outlined" class="ms-2 me-2">
      <div *ngIf="chatName" class="mb-3 mt-3 ms-4 me-4">
        <label class="fw-bold text-muted mb-2">{{chatName}}</label>
        <div class="border rounded p-3 bg-light" style="height: 460px; overflow-y: auto;">
          <div *ngFor="let msg of messages" class="mb-2">
            <div *ngIf="msg.username === chatName" class="received_msg">
              <div class="received_withd_msg">
                <strong style="font-size: 0.8em;">{{ msg.username }}</strong>
                <p>{{ msg.message }}</p>
              </div>
            </div>
            <div *ngIf="msg.username === currentUser.username" class="sent_msg">
              <div class="sent_withd_msg">
                <div class="text-end">
                  <strong class="justify-content-end" style="font-size: 0.8em;">{{ msg.username }}</strong>
                </div>
                <p>{{ msg.message }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!chatName" class="mb-3 mt-3 ms-4 me-4">
        <div class="border rounded p-3 bg-light text-center">
          Begin Chatting
        </div>
      </div>
    </mat-card>
    <div class="d-flex flex-row mt-2 ms-2">
      <button class="btn btn-secondary" style="height: 40px; margin-top: 8px;"><i class="fa fa-plus"></i></button>
      <mat-form-field appearance="outline" class="w-100 mt-2 ms-2 small-field">
        <input matInput type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">
      </mat-form-field>
      <button class="btn btn-primary ms-2 me-2" style="height: 40px; margin-top: 8px;" (click)="sendMessage()">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </mat-card>
</body>
