<body class="body-padding">
  <div class="container" *ngIf="data">
    <mat-card class="card p-4" appearance="outlined">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-2 fw-bold fs-2">Document Details</h1>
      </div>

      <mat-card-header class="p-0 mb-4">
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>Submitted by: {{ data.employeeId.name }}</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <div class="row mb-4 mt-4">
        <div class="col-md-4">
          <label class="fw-bold text-muted"><strong>File Size:</strong></label>
          <p class="fs-5">{{ data.size }}</p>
        </div>
        <div class="col-md-4">
          <label class="fw-bold text-muted"><strong>Upload Date:</strong></label>
          <p class="fs-5">{{ data.date | date:'medium' }}</p>
        </div>
      </div>

      <mat-card-actions class="p-0 gap-4">
        <button mat-button mat-raised-button color="primary" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>  Return</button>
        <a [href]="getDownloadUrl(data.filename)" target="_blank" mat-raised-button color="accent">
          <mat-icon>download</mat-icon> Download File
        </a>

      </mat-card-actions>

    </mat-card>
  </div>
</body>
