<body class="body-padding">
  <div class="container" *ngIf="data">
    <mat-card class="card p-4" appearance="outlined">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mt-4">Document Details</h1>
      </div>

      <mat-card-header class="mb-4">
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>Type: {{ data.submit }}</mat-card-subtitle>
      </mat-card-header>

      <div class="row mb-4 ms-2">
        <div class="col-md-4">
          <label class="fw-bold text-muted"><strong>File Size:</strong></label>
          <p class="fs-5">{{ data.size }}</p>
        </div>
        <div class="col-md-4">
          <label class="fw-bold text-muted"><strong>Upload Date:</strong></label>
          <p class="fs-5">{{ data.date | date:'medium' }}</p>
        </div>
      </div>

      <mat-card-actions class="ms-2">
        <a [href]="getDownloadUrl(data.filename)" target="_blank" mat-raised-button color="primary">
          <mat-icon>download</mat-icon> Download File
        </a>
        <button mat-button class="ms-2" (click)="goBack()">Back</button>
      </mat-card-actions>

    </mat-card>
  </div>
</body>
