<body class="body-padding">
  <div class="ms-2 me-2">
      <div class="mt-2 d-inline-flex">
        <div class="spacer-margin-left">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input (keyup)="applyFilter($event)" matInput>
          </mat-form-field>
          <button class="ms-2 button-3" routerLink="add-payroll" ><i class="fa fa-add"></i></button>
          <!-- <button class="ms-2 button-3"><i class="fa fa-filter"></i></button> -->
        </div>
        <!-- <div class="spacer-margin-right" style="margin-left: 400px;">
          <mat-form-field appearance="outline">
            <mat-label>Chose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM-DD-YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->
      </div>
    <mat-card class="card card-body">
      <h1 class="ms-2">Payroll List</h1>
      <div class="ms-2 me-2">
          <table mat-table [dataSource]="dataSource" class="table-margin">
        <ng-container matColumnDef="position">
          <th mat-header-cell class="tbl-header" *matHeaderCellDef> No. </th>
          <td mat-cell class="tbl-content" *matCellDef="let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId?.department}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId?.title}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date: 'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.netPay}} </td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef>  {{'hours worked (this month)'}}</th>
          <td mat-cell *matCellDef="let element"> {{element.hoursWorked}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button class="button-content" [matMenuTriggerFor]="menu">
              Actions <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button class="md-button" mat-menu-item [routerLink]="['/payroll/view-payroll', element._id]">
                <mat-icon>visibility</mat-icon><span>View</span></button>
              <mat-divider></mat-divider>
              <button style="color: red" class="md-button" mat-menu-item (click)="onDelete(element)" mat-menu-item>
                <mat-icon color="warn">delete</mat-icon><span>Delete</span></button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of Payroll">
      </mat-paginator>
    </mat-card>
  </div>
</body>
