<body class="body-padding">
  <div class="container">
    <mat-card class="card card-body" appearance="outlined">
      <h2 class="mt-4 ms-4 me-4 mb-3">Upload New Document</h2>

      <form (ngSubmit)="onSubmit()" #docForm="ngForm">
        <div class="ms-2 me-2">

          <div class="ms-4 me-4 mb-4">
            <label class="fw-bold mb-2">Select Document:</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control" required>
            <small *ngIf="selectedFileName" class="text-success">Selected: {{ selectedFileName }}</small>
          </div>

          <div class="ms-4 me-4 mb-4">
            <label class="fw-bold mb-2">Description (Optional):</label>
            <textarea [(ngModel)]="formData.description" name="description" class="form-control" rows="3"></textarea>
          </div>

          <div class="ms-4 me-4 mb-4">
            <label class="fw-bold mb-2">Submitted By:</label>
            <textarea [(ngModel)]="formData.submit" name="submit" class="form-control" rows="3"></textarea>
          </div>

          <div class="ms-4 me-4 d-flex justify-content-start gap-2 mb-3">
            <button type="submit" class="btn btn-success" [disabled]="!selectedFile">Upload Document</button>
            <button type="button" class="btn btn-close-white" (click)="goBack()">Cancel</button>
          </div>

        </div>
      </form>
    </mat-card>
  </div>
</body>
