<body class="body-padding">
  <mat-card class="ms-2 me-2">
    <div class="row ms-4">
      <h1 class="bold mt-4" style="size: 32px;">{{ emailData.subject }}</h1>
    </div>
    <div class="row ms-4">
      <span><p>To: {{emailData.recipient}}</p></span>
    </div>
    <div class="row ms-4">
      <span><p>From: {{ emailData.sender }}</p></span>
    </div>
    <div class="row ms-4">
      <span>CC: </span>
    </div>
    <div class="mb-3 mt-2 ms-4 me-4">
      <label class="fw-bold text-muted mb-2">Content:</label>
      <div [innerHTML]="emailData.content" class="border rounded p-3 bg-light"></div>
    </div>
    <div class="ms-4 mb-4">
      <button class="button-content" routerLink="/email/main">back</button>
      <button class="button-content ms-2" routerLink="/email/main/compose">reply</button>
    </div>

  </mat-card>
</body>
