<body class="body-padding">
  <mat-card class="ms-2 me-2">
    <div class="row ms-4">
      <h2>subject</h2>
    </div>
    <div class="row ms-4">
      <span><p>wanker</p></span>
    </div>
    <div class="row ms-4">
      <span>CC if any</span>
    </div>
    <div class="mb-3 mt-2 ms-4 me-4">
      <label class="fw-bold text-muted mb-2">Text</label>
      <div class="border rounded p-3 bg-light">something here</div>
    </div>
    <button class="button-content" routerLink="/email/main">back</button>
    <button class="button-content" routerLink="/email/main/compose">reply</button>
  </mat-card>
</body>
