<body class="body-padding">
  <div class="ms-2 mt-2">
    <h1>{{ (this.filterData | titlecase) ?? "All Emails"}}</h1>
    <mat-form-field class=""  appearance="outline">
      <mat-label>
        Search
      </mat-label>
      <input matInput>
    </mat-form-field>
    <button (click)="composeEmail(null)"  class="button-content" style="margin-bottom: 12px; margin-left: 12px; margin-right: 12px;">
      <i class="fa fa-plus-circle"></i>Compose
    </button>
    <button class="ms-2 button-3" (click)="refreshPage()"><i class="fa fa-refresh"></i></button>
  </div>


  <div class="ms-2 me-2">
  <mat-card class="table-card">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-margin">
    <ng-container matColumnDef="position">
      <th mat-header-cell class="tbl-header" *matHeaderCellDef> No. </th>
      <td mat-cell class="tbl-content" *matCellDef="let element; let i = index"> {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.sendDate | date: 'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon matTooltip="Important" *ngIf="element.important === true">star</mat-icon>
        <mat-icon matTooltip="Trash" *ngIf="element.trashed === true">delete</mat-icon>
        <mat-icon matTooltip="Spam" *ngIf="element.spam === true">warning</mat-icon>
        <mat-icon matTooltip="Received" *ngIf="element.received === true">forward_to_inbox</mat-icon>
        <mat-icon matTooltip="Sent" *ngIf="element.sent === true">send</mat-icon>
        <mat-icon matTooltip="Draft" *ngIf="element.draft === true">save_as</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button class="button-content" [matMenuTriggerFor]="menu">actions</button>
          <mat-menu #menu="matMenu">
            <button class="md-button" (click)="viewEmail(element._id)" mat-menu-item>
              <mat-icon color="accent">visibility</mat-icon>
              <span>View</span>
            </button>
            <button class="md-button" (click)="composeEmail(element._id)" *ngIf="element.received === true" mat-menu-item>
              <mat-icon>reply</mat-icon>
              <span>Reply</span>
            </button>
            <button class="md-button" *ngIf="element.draft === true" (click)="composeEmail(element._id)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Resume Draft</span>
            </button>
            <mat-divider></mat-divider>
            <button *ngIf="element.important === false" (click)="markFilter('important', element._id, i, false)" class="md-button" mat-menu-item>
              <mat-icon color="primary">star</mat-icon>
              <span>Mark As Important</span>
            </button>
            <button *ngIf="element.important === true" (click)="markFilter('important', element._id, i, true)" class="md-button" mat-menu-item>
              <mat-icon color="warn">star</mat-icon>
              <span>Remove From Important</span>
            </button>
            <mat-divider></mat-divider>
            <button *ngIf="element.spam === false" (click)="markFilter('spam', element._id, i, false)" class="md-button" mat-menu-item>
              <mat-icon style="color: orange;">warning</mat-icon>
              <span>Mark As Spam</span>
            </button>
            <button *ngIf="element.spam === true" (click)="markFilter('spam', element._id, i, true)" class="md-button" mat-menu-item>
              <mat-icon color="warn">warning</mat-icon>
              <span>Remove from Spam</span>
            </button>
            <button *ngIf="element.trashed === false" (click)="markFilter('trash', element._id, i, false)" class="md-button" mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Send To Trash</span>
            </button>
            <button *ngIf="element.trashed === true" (click)="markFilter('trash', element._id, i, true)" class="md-button" mat-menu-item>
              <mat-icon color="primary">undo</mat-icon>
              <span>Remove From Trash</span>
            </button>
            <button *ngIf="element.trashed === true" (click)="deleteEmail(element._id)" class="md-button" mat-menu-item>
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete Permenantly</span>
            </button>
          </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
</div>
</body>
