<mat-sidenav-container class="sidebar-container" autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar class="sidebar-header">
      <button style="margin-left: 0px;" mat-icon-button routerLink="/home" matTooltip="go back to main page">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

  <mat-nav-list class="sidebar-sidenav-content card-center">
    <div *ngFor="let user of users" (click)="selectUser(user)" style=" cursor: pointer;">
      <mat-divider class="md-divider"></mat-divider>
        <button class="md-button" style="display: block; width: 100%;">
          <div class="d-flex align-items-center">
            <div class="ms-2 me-2">
              <i class="fa fa-user-circle fs-3"></i>
            </div>
            <div class="me-2">
              <div class="d-flex flex-column">
                <span class="bold text-start">{{ user.username }}</span>
                <span class="text-start text-muted small">Click to chat</span>
              </div>
            </div>
            <span *ngIf="((chatService.unreadCounts$ | async)?.[user._id] ?? 0) > 0" class="badge rounded-pill bg-success me-2">
              {{ (chatService.unreadCounts$ | async)?.[user._id] }}
            </span>
          </div>
        </button>
    </div>
    <mat-divider class="md-divider"></mat-divider>
  </mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <label>Chat</label>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>report</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
    </mat-toolbar>
    <div><app-chat></app-chat></div>
  </mat-sidenav-content>
</mat-sidenav-container>
