<body class="body-padding">
  <div class="container">
    <mat-card class="card card-body" appearance="outlined">
      <h2 class="mt-4 ms-4 me-4 mb-3">Create Recruitment Entry</h2>
      <form (ngSubmit)="onSubmit()" #recForm="ngForm">
        <div class="ms-2 me-2">
          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="formData.date" name="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

        <div class="ms-4 me-4 mb-3">
          <label>Name:</label>
          <input type="text" [(ngModel)]="formData.name" name="name" class="form-control" required>
        </div>

        <div class="ms-4 me-4 mb-3">
          <label>University:</label>
          <input type="text" [(ngModel)]="formData.University" name="university" class="form-control">
        </div>

        <div class="ms-4 me-4 mb-3">
          <label>Age:</label>
          <input type="number" [(ngModel)]="formData.age" name="age" class="form-control">
        </div>

        <!-- <div class="mb-3">
          <label>Date:</label>
          <input type="date" [(ngModel)]="formData.date" name="date" class="form-control">
        </div> -->

        <div class="ms-4 me-4 mb-3">
          <label>Resume Document:</label>
          <input type="file" (change)="onFileSelected($event)" class="form-control">
        </div>

        <div class="ms-4 me-4 mb-3">
          <label class="d-block">Tell us about yourself</label>
          <quill-editor [(ngModel)]="formData.description" name="description" [modules]="quillConfig" [styles]="quillStyle"></quill-editor>
        </div>

        <div class="ms-4 me-4 mb-3">
          <label class="d-block">Job Experience</label>
          <quill-editor [(ngModel)]="formData.exp" name="description" [modules]="quillConfig" [styles]="quillStyle"></quill-editor>
        </div>

          <div class="ms-4 me-4 d-flex justify-content-start gap-2 mb-3">
            <button type="submit" class="btn btn-success">Submit Application</button>
            <button class="btn btn-close-white" (click)="goBack()">Cancel</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</body>
