<body class="body-padding">
  <div class="container">
    <mat-card class="card p-4" appearance="outlined">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h1 class="mt-2 fw-bold fs-2">Leave Details</h1>
        </div>

      <mat-card-header class="p-0 mb-4">
        <mat-card-title>Employee: {{ leaveData.employeeId?.name || 'Unknown' }}</mat-card-title>
        <mat-card-subtitle>Status:  {{ leaveData.status }}</mat-card-subtitle>
      </mat-card-header>

      <mat-divider class="mb-4"></mat-divider>
      <!-- <div class="row mb-3">
        <div class="col-md-6">
          <label class="fw-bold text-muted">Employee</label>
          <p class="fs-5">{{ leaveData.employeeId?.name || 'Unknown' }}</p>
        </div>
        <div class="col-md-6">
          <label class="fw-bold text-muted">Status</label>
          <p class="fs-5">{{ leaveData.status }}</p>
        </div>
      </div> -->

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="fw-bold text-muted">Start Date</label>
          <p>{{ leaveData.dateStart | date:'mediumDate' }}</p>
        </div>
        <div class="col-md-6">
          <label class="fw-bold text-muted">End Date</label>
          <p>{{ leaveData.dateEnd | date:'mediumDate' }}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="fw-bold text-muted">Paid Leave?</label>
          <p>{{ leaveData.paid ? 'Yes' : 'No' }}</p>
        </div>
        <div class="col-md-6">
          <label class="fw-bold text-muted">Type</label>
          <p>{{ leaveData.type }}</p>
        </div>
      </div>

      <mat-divider class="mb-3"></mat-divider>

      <div class="mb-3">
        <label class="fw-bold text-muted mb-2">Description</label>
        <div class="border rounded p-3 bg-light" [innerHTML]="leaveData.content"></div>
      </div>

      <mat-card-actions class="p-0">
        <button mat-button mat-raised-button color="primary" class="mt-2" (click)="goBack()">
          <i class="fa fa-arrow-left me-2"></i> Return
        </button>
      </mat-card-actions>
    </mat-card>

</div>

<ng-template #loading>
  <div class="text-center mt-5">Loading...</div>
</ng-template>
</body>
