<body class="body-padding">
  <div class="container">
    <mat-card class="card card-body" appearance="outlined">
      <h1 class="mt-4 ms-4 me-4 mb-3">Submit Complaint</h1>
      <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
        <div class="ms-2 me-2">

          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Reporting Employee</mat-label>
              <mat-select formControlName="employeeId" (selectionChange)="onEmployeeSelect($event)">
                <mat-option *ngFor="let employee of employees" [value]="employee._id" class="md-button">{{employee.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Reported Employee (If Any))</mat-label>
              <mat-select formControlName="targetedEmployee" (selectionChange)="onEmployeeSelect($event)">
                <mat-option *ngFor="let employee of availableTargets" [value]="employee._id" class="md-button">{{employee.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Day of Incident</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-hint>MM-DD-YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Complaint Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let type of complaintTypes" [value]="type" class="md-button">
                    {{type}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>

          <div class="ms-4 me-4 mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Summary</mat-label>
              <input formControlName="summary" matInput type="text">
            </mat-form-field>
          </div>

          <div class="ms-4 me-4 mb-3">
            <label class="d-block">Description (Optional)</label>
            <quill-editor formControlName="content" [modules]="quillConfig" [styles]="quillStyle"></quill-editor>
          </div>

          <div class="ms-4 me-4 d-flex justify-content-start gap-2 mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-light" (click)="goBack()">Cancel</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</body>

<!-- <h1 class="mt-2">Submit Complaint</h1>
<mat-card class="card" appearance="outlined">
  <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
      <div class="ms-4 two-column-grid" style="gap: 20px;">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Select Employee</mat-label>
            <mat-select formControlName="employeeId" (selectionChange)="onEmployeeSelect($event)">
              <mat-option *ngFor="let employee of employees" [value]="employee._id" class="md-button">{{employee.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Select more Employee</mat-label>
            <mat-select formControlName="targetedEmployee" (selectionChange)="onEmployeeSelect($event)">
              <mat-option *ngFor="let employee of availableTargets" [value]="employee._id" class="md-button">{{employee.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Day of Incident</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM-DD-YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    <div class="ms-4 two-column-grid">
      <div>
        <mat-form-field>
          <mat-label>Complaint Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of complaintTypes" [value]="type" value="Harassment" class="md-button">
                {{type}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>summary</mat-label>
          <input formControlName="summary" matInput type="text">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="ms-4 me-4 mb-3">
        <label class="d-block">Description (Optional)</label>
        <quill-editor formControlName="content" [modules]="quillConfig" [styles]="quillStyle"></quill-editor>
      </div>
      <div class="ms-4 me-4 d-flex justify-content-start gap-2 mb-3">
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-light" (click)="goBack()">Cancel</button>
      </div>
    </div>
  </form>
</mat-card> -->
