<mat-sidenav-container class="sidebar-container" autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar class="sidebar-header">
      <button style="margin-left: 0px;" mat-icon-button routerLink="/home" matTooltip="go back to main page">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list class="sidebar-sidenav-content card-center">
      <button class="md-button" (click)="sendFilter('all')" mat-list-item>
        <i class="fa fa-mail-bulk"></i>
        <span>  All</span>
      </button>
      <button class="md-button" (click)="sendFilter('inbox')" mat-list-item>
        <i class="fa fa-envelope"></i>
        <span>  Inbox</span>
      </button>
      <button class="md-button" (click)="sendFilter('draft')" mat-list-item>
        <i class="fa fa-clipboard"></i>
        <span>  Draft</span>
      </button>
      <button class="md-button" (click)="sendFilter('important')" mat-list-item>
        <i class="fa fa-exclamation"></i>
        <span>  Important</span>
      </button>
      <button class="md-button" (click)="sendFilter('sent')" mat-list-item>
        <i class="fa fa-paper-plane"></i>
        <span>  Sent</span>
      </button>
      <button class="md-button" (click)="sendFilter('spam')" mat-list-item>
        <i class="fa fa-exclamation-triangle"></i>
        <span>  Spam</span>
      </button>
      <button class="md-button" (click)="sendFilter('trash')" mat-list-item>
        <i class="fa fa-trash"></i>
        <span>  Trash</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <label>Email</label>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>report</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
    </mat-toolbar>
    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
